{% extends "base.html" %}

{% load i18n %}

{% block title %}Proposal Review{% endblock title %}

{% block meta_title %}Proposal Review{% endblock %}


{% block content %}

<div class="content">

    <table class="overview-table">
        <caption>Overview</caption>
        <thead>
            <tr>
                <th style="text-align: center;">{% trans "Total" %}</th>
                {% for type_name in statistic.type_counts %}
                    <th style="text-align: center;">{{type_name}}</th>
                {% endfor %}
            </tr>
            <tr>
                <td style="text-align: center;">{{statistic.total}}</td>
                {% for count in statistic.type_counts.values %}
                    <td style="text-align: center;">{{count}}</td>
                {% endfor %}
            </tr>
        </thead>
    </table>

    <table id="proposal_review_list" class="pycon-table table table-strip">
        <thead>
            <tr>
                <th>{% trans "ID" %}</th>
                <th>{% trans "Author" %}</th>
                <th>{% trans "Title" %}</th>
                <th>{% trans "Speech Type" %}</th>
                <th>{% trans "Abstract" %} <span class="note">{% trans "(PDF file)" %}</span></th>
                <th>{% trans "Reviews" %}</th>
                <th>{% trans "Sum. Rank" %}</th>
                <th>{% trans "Avg. Rank" %}</th>
                <th>{% trans "Action" %}</th>
                <th>{% trans "Decision" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for proposal in proposals %}
            <tr>
                <td>{{proposal.id}}</td>
                <td title="{{proposal.author.username}}">{{proposal.author.get_full_name}}</td>
                <td>{{proposal.title}}</td>
                <td>{{proposal.get_speech_type_display}}</td>
                <td>
                  {% if proposal.abstractfile and proposal.abstractfile.has_file %}
                  <a href="{{proposal.abstractfile.url}}" target="_blank">
                  {{proposal.abstractfile}}
                  </a>
                  {% else %}
                  <span>{% trans "No abstract file." %}</span>
                  {% endif %}
                </td>
                <td class="number">
                    {% if is_reviewer_admin or proposal.author != request.user %}
                        {{proposal.reviewers_amount}}
                    {% else %}
                        <span class="note">{% trans "－－－" %}</span>
                    {% endif %}
                </td>
                <td class="number">
                    {% if is_reviewer_admin or proposal.author != request.user %}
                        {{proposal.rank_sum}}
                    {% else %}
                        <span class="note">{% trans "－－－" %}</span>
                    {% endif %}
                </td>
                <td class="number">
                    {% if is_reviewer_admin or proposal.author != request.user %}
                        {{proposal.rank_avg}}
                    {% else %}
                        <span class="note">{% trans "－－－" %}</span>
                    {% endif %}
                </td>
                <td>
                    {% if proposal.author != request.user %}
                        <a href="{% url "proposal_review:do_review" proposal.id %}" class="">{% trans "Review" %}</a>
                    {% elif is_reviewer_admin %}
                        <a href="{% url "proposal_review:do_review" proposal.id %}" class="">{% trans "Review" %}</a>
                    {% else %}
                        <span class="note">{% trans "－－－" %}</span>
                    {% endif %}
                </td>
                <td>
                    {{proposal.result.get_decision_display}}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">{% trans "No Proposal" %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
